@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap');

* {
    font-family: Barlow;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #000000;
}

/* NAV START */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border: 1px solid black;
    background-color: black;
}

.logo {
    font-family: Rubik Scribble;
    font-size: 15px;
    color: white;
    transition: all 0.5s ease 0s;
    background: -webkit-linear-gradient(#fd2fc0, #8800ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo:hover {
    transform: scale(2);
}

li, a, button {
    font-weight: 700;
    font-size: 16px;
    color: white;    
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    text-transform: uppercase;
    margin-right: 10px;
    flex-basis: 5%;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
    letter-spacing: 5px;
    color: #bb00ff;
}

.buy-tickets {
    border: none;
    color: black;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    background-color: #bb00ff;
}

.buy-tickets:hover {
    transform:scale(1.3);
}

/* NAV END */

/* LINEUP START */

.lineup {
    background-image: url("https://i.ibb.co/W5RVPmX/fallen-islands-fest.jpg");
    width: 40%;
    height: 800px;
    background-repeat: repeat-y;
    text-align: center;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}


.festival-lineup {
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;
}

ul, li, p {
    list-style-type: none;
    background: transparent;
    font-size: 12px;
    text-transform: uppercase;
}

#dropdown-products {
    display: none;
}

.main-event {
    font-size: 40px;
    background: linear-gradient(to right,#ae8625,#f7ef8a, #d2ac47, #edc967);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.days {
    height: 30%;
    width: 100%;
    align-items: center;
    color: white;
    font-family: Barlow;
    background: none;
    font-size: 30px;
    font-weight: 800;
    transition: all 1s ease 0s;
    margin-top: 5%;

}

.days:hover {
    transform: scale(1.1);
}

.days:hover #dropdown-products {
    display: block;
}

/* LINEUP END */

/* PRICING START */

.special-pricing-text {
    color: white;
    font-size: 60px;
    transition: all 1s ease 0s;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    text-align: center;
}

.special-pricing-text:hover {
    letter-spacing: 7px;
}

.container {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

.packages {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.three-day-ga {
    border-radius: 10px;
    display: inline-block;
    background-color: #000000;
    height: 300px;
    width: 400px;
    transition: all 1s ease 0s;
}

.three-day-gold {
    border-radius: 10px;
    display: inline-block;
    background-color: #000000;
    width: 400px;
    transition: all 1s ease 0s;
}

.three-day-platinum {
    border-radius: 10px;
    display: inline-block;
    background-color: #000000;
    width: 400px;
    transition: all 1s ease 0s;
}

.three-day-ga:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 25px 10px #bb00ff;
}

.three-day-gold:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 25px 10px #ffd152;

}

.three-day-platinum:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 25px 10px #fdfff3;
}

.three-day-ga-text,
.three-day-gold-text,
.three-day-platinum-text {
    color: white;
    font-size: 25px;
    font-weight: 100;
    padding-top: 20px;
}

.ga-price {
    color: white;
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(to right,#ba0dff, #8400ff, #ea00ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gold-price {
    color: white;
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(to right,#ae8625,#f7ef8a, #d2ac47, #edc967);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.platinum-price {
    color: white;
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(to right,#5e5e5e,#9f9f9f, #eeeeee, #393939);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.fees {
    color: white;
}

.buy-now {
    color: #000000;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: -webkit-linear-gradient(#fd2fc0, #bb00ff);
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
}

/* PRICING END */

/* SHOWCASE START */

.showcase {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    cursor: pointer;
}

.showcase-image img{
    border-radius: 25px;
    width: 50%;
    transition: all 3s ease 0s;
}

.showcase-image img:hover {
    transform: scale(1.2);
}

.discover-artists {
    text-align: center;

    margin-top: 50px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    transition: all 2s ease 0s;
    letter-spacing: 1px;
}

.discover-artists2 {
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    cursor: text;
    letter-spacing: 1px;
}

.discover-artists:hover {
    color: black;
    margin-left: 200px;
}


/* SHOWCASE END */

/* PLAYLIST START */

.playlist {
    margin-left: 145px;
}

/* PLAYLIST END */

/* FOOTER START */

.partners {
    color: white;
    font-size: 60px;
    transition: all 1s ease 0s;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.partners:hover {
    letter-spacing: 7px;
}

.partner-logos {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    display: flex;    
    width: 80%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partner-logo {
    cursor: pointer;
    flex-basis: 20%;
    height: 100px;
}


.footer {
    margin-top: 1px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}
  
.footer div {
    text-align: center;
}
  
.footer div h3 {
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
  
.column-1 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 25px;
    transition: all 1s ease 0s;
}

.column-1 a:hover {
    color: black;
}

.column-2 {
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
}

.stay-tuned {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
  
.stay-tuned2 {
    font-size: 10px;
    margin-bottom: 40px;
}

.email-address {
    width: 300px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    border: none;
    background: white;
}
  
.name {
    height: 45px;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    border: none;
    background: white;
    margin: 2px;
    
}

.subscribe-now {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease 0s;
}
  
.subscribe-now:hover {
    color: white;
    background-color: #8800ff;
}

input:focus::placeholder {
    color: transparent;
}

/* FOOTER END */


/* MEDIA QUERY START */

@media screen and (max-width: 480px) {

    header {
        padding: 1px;
        margin-right: 10px;
        width: 100%;
    }

    .logo:hover {
        transform: none;
    }

    .nav-links li a:hover {
        letter-spacing: 0px;
    }

    li,
    a,
    button {
        font-size: 12px;
    }

    ul,
    .nav-links {
        text-align: center;
        margin-right: 0px;
    }

    .lineup {
        width: 100%;
    }

    li p {
        font-size: 15px;
    }

    .buy-tickets {
        padding: 0;
        margin-right: 10px;
        font-size: 10px;
    }

    .buy-tickets:hover {
        transform: none;
    }

    .special-pricing-text {
        font-size: 15px;
        letter-spacing: 1px;
        margin-left: 15px;
    }

    .special-pricing-text:hover {
        letter-spacing: 0px;
    }

    .three-day-ga {
        width: 100px;
        height: 200px;
    }

    .three-day-gold {
        width: 100px;
    }

    .three-day-platinum {
        width: 100px;
    }

    .three-day-ga:hover, .three-day-gold:hover, .three-day-platinum:hover {
        box-shadow: none;
        transform: scale(1);
    }

    .three-day-ga-text, .three-day-gold-text, .three-day-platinum-text {
        font-size: 8px;
    }

    .ga-price, .gold-price, .platinum-price {
        font-size: 25px;
    }

    .fees {
        font-size: 10px;
    }

    .container {
        height: 120px;
        width: 100%;
    }
    .packages {
        height: 200px;
    }

    .buy-now {
        font-size: 10px;
    }

    .showcase {
        height: 100px;
    }

    .showcase-image img {
        height: 220px;
        width: 80%;
    }

    .showcase-image:hover {
        transform: none;
    }

    .discover-artists {
        font-size: 14px;
        margin-top: 20px;
    }

    .discover-artists2 {
        font-size: 12px;
        margin-top: 10px;
    }

    .playlist {
        width: 80%;
        height: 50%;
        margin-left: 40px;
        margin-top: 140px;
        margin-bottom: 200px;
    }

    .partners {
        font-size: 50px;
        letter-spacing: 1px;
        margin-top: -30px;
        margin-bottom: 30px;
    }
    
    .partner-logos {
        margin-left: 50px
    }

    .partner-logo img {
        width: 50px;
    }

    .footer {
        padding-top: 30px;
    }

    .column-1 a{
        width: 100px;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .column-2 {
        width: 200px;
    }

    .stay-tuned {
        font-size: 20px;
    }

    .stay-tuned2 {
        font-size: 9px;
    }

    input::placeholder {
        font-size: 10px;
    }
    .email-address {
        width: 144px;
        margin-top: 2px;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {


    .logo {
        font-size: 10px;;
    }

    .logo:hover {
        transform: none;
    }

    ul li a {
        font-size: 10px;
    }

    .buy-tickets{
        font-size: 10px;
    }

    .lineup {
        width: 50%;
    }

    .special-pricing-text {
        font-size: 25px;
    }

    .special-pricing-text {
        letter-spacing: 2px;
    }

    .container {
        margin-top: 100px;
    }

    .packages {
        gap: 30px;
    }

    .three-day-ga, .three-day-gold, .three-day-platinum {
        width: 200px;
    }

    .three-day-ga:hover {
        box-shadow: 0 0px 15px 5px #bb00ff;
    }
    
    .three-day-gold:hover {
        box-shadow: 0 0px 15px 5px #ffd152;
    }

    .three-day-platinum:hover {
        box-shadow: 0 0px 15px 5px #fdfff3;
    }

    .ga-price, .gold-price, .platinum-price {
        font-size: 50px;
    }

    .discover-artists2 {
        font-size: 12px;
    }

    .showcase {
        margin-bottom: 40px;
    }

    .playlist {
        width: 80%;
        padding-right: 130px;
    }

    .partners {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .partner-logos {
        margin-left: 112px;
    }

    .footer {
        margin-top: -80px;
    }

    .column-1 a {
        font-size: 23px;
        padding-right: 30px;
    }

    .column-2 {
        width: 40%;
    }

    .stay-tuned {
        font-size: 23px;
    }

    .stay-tuned2 {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .email-address {
        margin-top: 2px;
        width: 200px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1025px) {

    .logo:hover {
        transform: scale(1.1);
    }

    .nav-links li a:hover {
        letter-spacing: 3px;
    }

    .special-pricing-text {
        font-size: 40px;
    }

    .three-day-ga, .three-day-gold, .three-day-platinum {
        width: 350px;
        height: 280px;
    }

    .packages {
        gap: -10px;
    }

    .playlist {
        margin-left: 10%;
    }

    .partner-logos {
        margin-left: 15%;
        
    }
}
